/* App.css (Global Styles) */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

section[id], div[id] {
  scroll-margin-top: 50px;
}

.section-separator {
  height: 80px;
  background: linear-gradient(to bottom, #3c6793, #C491B1); /* Light mode blend */
  transition: background 0.5s ease;
}

body.dark-mode .section-separator {
  background: linear-gradient(to bottom, #3c6793, #2b8170); /* Dark mode blend */
}

